if [ ! -d ".venv" ]; then
  echo "Installing virtualenv for $(python -V)"
  python -m venv .venv
  echo "Activating $(python -V) virtualenv"
  source $PWD/.venv/bin/activate
  test -f $PWD/requirements.txt && pip3 install -r $PWD/requirements.txt --upgrade
fi

source $PWD/.venv/bin/activate
export PATH=$(git rev-parse --show-toplevel)/bin:$PATH:$PWD/.venv/bin

export AWS_DEFAULT_PROFILE=default

export AWS_DEFAULT_REGION="$(aws configure get ${AWS_DEFAULT_PROFILE}.region)"
export AWS_ACCESS_KEY_ID="$(aws configure get ${AWS_DEFAULT_PROFILE}.aws_access_key_id)"
export AWS_SECRET_ACCESS_KEY="$(aws configure get ${AWS_DEFAULT_PROFILE}.aws_secret_access_key)"

# https://www.terraform.io/docs/backends/types/s3.html
export STATE_BACKEND="myorg-terraform-state"

# https://github.com/hashicorp/terraform/blob/master/CHANGELOG.md
export TERRAFORM_VERSION="1.0.4"
#export TF_LOG=TRACE
